<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/template" id="image-view">
		<div class="headline col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1><%%=headline%></h1>
		</div>
		<ul class="grid cs-style-4">
			<li>
				<figure>
					<div class="firstView">
						<div class="image col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<img class = "image" src=<%%= image %>>
						</div>
						<figcaption> 
							<div class="blurb">
								<h3><%%=blurb%></h3>
								<%% if(typeof read_time === 'undefined'){}else{%><h5>Time To Read:<br><%%=read_time%><%%}%></h5>
							</div>
						</figcaption>
					</div>
				</figure>
			</li>
		</ul>

		<div class="articleView">
			<div class="content col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
				<%%= content %>
			</div>
		</div>
	</script>
	<title>Timehack</title>

	
	<%= csrf_meta_tags %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<!-- Latest compiled and minified JavaScript -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script src="assets/modernizr.custom.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

	<%= render template: "shared/navbar" %>
	<div class="container-fluid">
		<%= yield %>
		<script src="assets/toucheffects.js"></script>
	</body>
</div>
</html>
